.container{
    display: flex;
    flex-direction: column;
    width: min(400px, 90%);
    align-items: center;
    margin: auto;
}


.small-container-re{
    width: 343px;
    margin: auto;
    transform: translate(390px, -900px);
} 
.txt{
    font-size: 20px;
    color: whitesmoke;
    padding-bottom: 20px;
}
h3{
    font-size: 60px;
    font-style: oblique;
    margin: 20px;
}
.picture{
    width: 900px;
}
.two{
    transform: translate(403px, 110px);
    
}

.small-container-ma{
    width: 343px;
    margin: auto;
    transform: translate(-420px, -900px);
}

.small-container-pro{
    width: 343px;
    margin: auto;
    transform:translate(229px, -100px);
}

.three{
    transform: translate(-394px, 239px);
  
}

#button-blue{
    transform: translate(-140px, -10px);
    padding: 15px;
    font-size: 20px;
    border: none;
}

#button-blue:hover{
    background-color: hsl(197, 90%, 45%);
    color: white;
}

