.container{
    display: flex;
    flex-direction: column;
    width: min(400px, 90%);
    align-items: center;
    margin: auto;
}

.numbers{
    font-size: 18em;
    color: transparent;
    -webkit-text-stroke: 1px white;
}
.one{
    transform: translate(-434px, 420px);

}
.constat-container{
    width: 246px;
    margin: auto;
    transform: translate(479px,-844px);
}

.small-container-ma{
    width: 246px;
    margin: auto;
    transform: translate(-470px,-790px);
}
#logo{
    width: 55%;
    margin-left: 10px;
}
#billeterie{
    width: 700px;
}

#wireframe{
    width: 250px;
    padding-bottom: 20px;
}

#mockup{
    width: 700px;
}

.txt{
    font-size: 20px;
    color: whitesmoke;
}
h3{
    text-align: center;
    font-size: 60px;
    font-style: oblique;
    margin: 10px;
}
.picture{
    width: 900px;
}
.two{
    transform: translate(440px, 470px);
}

.three{
    transform: translate(-340px, 476px );
}

.small-container-mona{
    width: 246px;
    margin: auto;
    transform: translate(70px,-250px);
}