section{
    border: 1px white solid;
    padding: 40px;
    margin: 60px;
}

.img-actionplan{
    object-fit: contain;
    width: 700px;
    padding: 15px;
}

.flex{
    display: flex;
    border: 1px rgb(95, 106, 255) solid;
    align-items: baseline;
}

.problematique{
    font-size: 24px;
    margin: 10px;
}
.container-projet{
    display: flex;
    border: 1px rgb(255, 255, 95) solid;
    padding: 20px;
}

article{
    border: 1px rgb(255, 95, 95) solid;
    padding: 5px;
    margin: 10px;
}
.img-container{ 
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px rgb(144, 144, 253) solid;
    width: 700px;
    margin: 0px 282px;
}

.final-section{
    padding-top: 40px;
    margin: 0px 282px;
    border: 1px rgb(0, 184, 122) solid;
}

#center{
    border: 1px rgb(200, 235, 255) solid;
    display: flex;
    margin: 0px 182px;
}
