.container{
    display: flex;
    flex-direction: column;
    width: min(400px, 90%);
    align-items: center;
    margin: auto;
}

#first-container{
    width: 1200px;
    margin-left: 40px;
}

.numbers{
    font-size: 18em;
    color: transparent;
    -webkit-text-stroke: 1px white;
}
.one{
    transform: translate(-370px, 420px);

}
.mode-container{
    width: 230px;
    margin: auto;
    transform: translate(330px,-690px);

}

.small-container-ma{
    width: 246px;
    margin: auto;
    transform: translate(-420px,-568px);
}

.txt{
    font-size: 20px;
    color: whitesmoke;
}
h3{
    text-align: center;
    font-size: 60px;
    font-style: oblique;
    margin: 10px;
}
.picture{
    width: 900px;
}
.two{
    transform: translate(440px, 215px);
}

.three{
    transform: translate(-340px, 476px );
}

.small-container-mona{
    width: 246px;
    margin: auto;
    transform: translate(70px,-250px);
}