
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #0C0B0E;
    color: white;
    width: 100%;
    }

#loader-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 67, 54, 1);
}
#loader{
    width: 90px;
}   

#container-grid{
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}
header{
    margin-right: 40px;
    grid-area: 1 / 5 / 4 / 5;
}

.nav-list{
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.items{
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin: 30px 0 0 60px;
    cursor: pointer;
}

.items:hover{    
    letter-spacing: 1px;
}
#social-media{
    display: flex;
    flex-direction: column;
    width: 5%;
    margin: 500px 0 0 10px;
    grid-area: 1 / 1 / 3 / 2;
}
.social-media img{
    margin: 5px;
}

/* SECTION ALBA */

#welcome-container{
    width: 100%;
    grid-area: 1 / 2 / 6 / 4;
}
#entete{
    display: flex;
    justify-content: center;
}
.mon-portrait{
    width: min(400px,100%);
}
.soustitre{
    display: flex;
    align-items: baseline;
}
#entete-text{
    padding: 80px 0px 0px 60px;
}
#alba{
    margin: 20px 0px 40px 0px;
}
h1,h2, h5{
    font-family: 'Prata', serif;
} 
h1{
    font-size: clamp(58px,8vw,160px);
    line-height: 140px;
    letter-spacing: 2px;
}
.red{
    color: rgba(231, 67, 54, 1);
}

/* A PROPOS */

h3{
    font-size: clamp(28px,8vw,98px);
    font-weight: bold;
    padding-right: 5px;
}
h4, h5{
    font-size: clamp(30px,8vw,48px);
}

.menu{
    display: flex;
    flex-direction: column;
    width: auto;
}
#apropos{
    display: flex;  
    margin: 60px 0px 60px 80px;
    justify-content: center;
}   
#apropos-text{
    width: 20%;
    align-items: center;
}
#projet{
    font-size: clamp(28px,8vw,98px);
}

#bio{
    width: 90%;
    text-align: justify;
}

#mycontainer{
    width: 90%;
}

/* /////// PROJET ////// */

h2{
    font-size: clamp(35px,8vw,82px);
    line-height: 1.2em;
}   
#container-projet{
    padding: 40px;  
}
#projets{
    text-align: center;
    padding-bottom: 150px;
}
.picture{
    width: 600px;
}
.arrow{
    padding-top: 10px;
}   

.blanc{
    color: white;
}

/* CYBERFEMINISME */
#uno{
    transform: translate(215px, -197px);
    color: rgba(231, 67, 54, 1);
}

.cyber-container{ 
    display: flex;
    justify-content: space-between;
    width: 800px;
    align-items: center;
    margin: 0px 20px;
}
.small-cyber-container{
    width: 10%;
    transform: translate(220px, -122px);        
}  

/* LE LOUVRE */

#duo{
    transform: translate(-227px, -220px);
    color: rgba(231, 67, 54, 1);
}

.louvre-container{ 
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    width: min(1000px, 90%);
    align-items: center;
    margin: auto;
}
.small-louvre-container{
    width: 7%;
    transform: translate(830px, -148px);
}

/* Singulière */

#tre{
    transform: translate(180px, -171px);
    color: rgba(231, 67, 54, 1);
}

.singuliere-container{ 
    display: flex;
    justify-content: space-between;
    width: min(900px,90%);
    align-items: center;    
    margin-left: 20px;  
}

.small-sing-container{
    width: 7%;
    transform: translate(205px, -129px);       
}  

/* Contact */

h5{
    padding: 10px;
}
a{
    font-size: larger;
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
}

#contact{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#container-h{
    /* border: 1px solid rgb(255, 255, 255); */
    width: 30%;
    margin-left: 60px;
}
#container-logos{   
    justify-content: space-between;
    /* border: 1px solid rgb(255, 255, 255); */
    display: flex;
    align-items: center;
    width: 300px;
    margin: 90px;
    padding: 10px;
}

footer{
    display: flex;
    justify-content: flex-end;
    padding: 60px;
}

.back{
    margin-left: 20px;
}

.back:hover{    
    letter-spacing: 1px;
}


@media (max-width: 768px){
    #apropos{
        flex-direction: column;
        width: 100%;
    }
    #apropos-text{
        width: 100%;
    }
    h2{
        transform: translateX(0);
    }
    .cyber-container, .louvre-container, .singuliere-container{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #mon-portrait{
        height: 300px;
    }
    #bio{
        width: 100%;
        text-align: justify;
    }
    #uno, #duo, #tre{
        transform: translateX(0);
    }

    .small-cyber-container, .small-louvre-container, .small-sing-container{
        transform: translateX(0);
        width: 100%;
        
    }
    .arrow{
        display: none;
    }

    .picture{
        width: 300px;
    }
    #contact{
        flex-wrap: wrap;
        width: 100%;
    }
    #container-h{
        width: 100%;
        margin-left: 10px;
    }
    #container-logos{
        margin: 0;
    }
}