
@font-face {
    font-family: 'Remah.Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./assets/Remah.Pro/RemahPro-Regular.otf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #0C0B0E;
    color: white;
    }
    
#loader-container{
    background-color: #714FFC;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #714FFC;
}
#loader{
    width: 90px;
}

#container-grid{
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}
header{
    margin-right: 40px;
    grid-area: 1 / 5 / 4 / 5;
}

.nav-list{
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.items{
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin: 30px 0 0 60px;
    cursor: pointer;
}

.items:hover{    
    letter-spacing: 1px;
}
#social-media{
    display: flex;
    flex-direction: column;
    width: 5%;
    margin: 500px 0 0 10px;
    grid-area: 1 / 1 / 3 / 2;
}
.social-media img{
    margin: 5px;
}

/* SECTION ALBA */

#welcome-container{
    width: 100%;
    grid-area: 1 / 2 / 6 / 4;
}
#entete{
    display: flex;
    justify-content: center;
}
.mon-portrait{
    width: min(400px,100%);
}
.soustitre{
    display: flex;
    align-items: baseline;
}
#entete-text{
    padding: 200px 0px 0px 60px;
}
#names{
    margin: 20px 0px 40px 0px;
    line-height: 540%;

}
h1,h2, h5{
    font-family: 'Remah.Pro', serif;
} 
h1{
    font-size: clamp(58px,8vw,160px);
    letter-spacing: 2px;
}
.purple{
    color: #714FFC;
}

/* A PROPOS */

h3{
    font-size: clamp(28px,8vw,93px);
    font-weight: bold;
    padding-right: 5px;
}
h4, h5{
    font-size: clamp(30px,8vw,48px);
}

.menu{
    display: flex;
    flex-direction: column;
    width: auto;
}
.empty{
    border: white, 1px, solid;
    display: flex;
    height: 20px;
    width: 20px;
}
#apropos-container{
    display: flex;  
    justify-content: center;
}

.text{  
    font-size: 20px;
    line-height: 120%;
}
#quote{
    font-size: 21px;
    font-weight: bolder;
}
#apropos-text{
    width: 55%;
    padding: 40px;
    align-items: center;
}
#apropos{
    padding-bottom: 50px;
}

.sections{
    font-size: clamp(28px,8vw,98px);
    text-align: center;
    padding: 90px;
}


#mycontainer{
    width: 90%;
}

/* /////// PROJET ////// */

h2{
    font-size: clamp(35px,8vw,82px);
    line-height: 1.2em;
}   
#container-projet{
    padding: 40px;  
}

.picture{
    width: 600px;
}
.arrow{
    padding-top: 10px;
}   

.blanc{
    color: white;
}
/* GreenPath */

#gp{
    transform: translate(515px, 58px);
    color:  #714FFC;
}
.greenpath-container{ 
    border: #714FFC 1px solid ;
    width: min(1000px, 90%);
    margin: auto;
}
.small-gp-container{
    width: 10em;
    transform: translate(930px, -130px);
}

/* Singulière */

#mode{
    transform: translate(162px, -177px);
    color:  #714FFC;
}

.singuliere-container{ 
    border: #714FFC 1px solid ;
    display: flex;
    justify-content: space-between;
    width: min(1000px,90%);
    align-items: center;
    height: min(700px);
    margin: auto;    
}

.small-sing-container{
    width: 10em;
    transform: translate(390px, -129px);       
}  

/* CYBERFEMINISME */
#cyborg{
    transform: translate(467px, 122px);
    color:  #714FFC;
}

.cyber-container{ 
    border: #714FFC 1px solid ;
    justify-content: space-between;
    width: min(1000px, 90%);
    align-items: center;
    margin: auto;     

}
.small-cyber-container{
    width: 13em;
    transform: translate(930px, -130px);        
} 
/* style guide*/

#container-style{
    width: auto;    
    display: flex;
    flex-direction: column;
    align-items: center;    
}
/* Contact */

h5{
    padding: 10px;
}
a{
    font-size: larger;
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
}

#contact{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#container-h{
    width: 30%;
    margin-left: 60px;
}
#container-logos{   
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 300px;
    margin: 90px;
    padding: 10px;
}

footer{
    display: flex;
    justify-content: flex-end;
    padding: 60px;
}

.back{
    margin-left: 20px;
}

.back:hover{    
    letter-spacing: 1px;
}

.container{
    display: flex;
    flex-direction: column;
    width: min(400px, 90%);
    align-items: center;
    margin: auto;
}

.numbers{
    font-size: 23em;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.numbers:hover{
    -webkit-text-stroke: 1px rgba(231, 67, 54, 1);
    color: rgba(231, 67, 54, 1);
}

.first-container{
    width: 1200px;
    margin: 40px 0 0 40px;
}
@media (max-width: 768px){
    #apropos{
        flex-direction: column;
        width: 100%;
    }
    #apropos-text{
        width: 100%;
    }
    h2{
        transform: translateX(0);
    }
    .cyber-container, .louvre-container, .singuliere-container{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #mon-portrait{
        height: 300px;
    }
    #bio{
        width: 100%;
        text-align: justify;
    }
    #uno, #duo, #tre{
        transform: translateX(0);
    }

    .small-cyber-container, .small-louvre-container, .small-sing-container{
        transform: translateX(0);
        width: 5em;
        
    }
    .arrow{
        display: none;
    }

    .picture{
        width: 300px;
    }
    #contact{
        flex-wrap: wrap;
        width: 100%;
    }
    #container-h{
        width: 100%;
        margin-left: 10px;
    }
    #container-logos{
        margin: 0;
    }
}